.margin-left80px {
    margin-left: 80px;
}

.fullheight {
    height: 100%;
}

.padding20px {
    padding: 20px;
}

.width20 {
    width: 20%;
}

.u-width {
    width : 45%;
}

.u-border--none {
    border : none;
}

.u-flex {
    display: flex;
}

.u-flex-between {
    display: flex;
    justify-content: space-between;
}

.u-mt10px {
    margin-top: 10px;
    align-items: center;
}

.u-mb0 {
    margin-bottom : 0;
}

.u-mb30 {
    margin-bottom: 30px;
}

.u-display--none {
    display : none;
}

.u-display--center {
    margin : 0 auto;
}
