@mixin btn($color: #fff, $radius: 5px, $bgColor: #fff, $padding: 15px 5px, $width: 100%, $fontSize: 20px) {
    color: $color;
    border-radius: $radius;
    padding: $padding;
    width: $width;
    background: $bgColor;
    text-align: center;
    font-size: $fontSize;
    letter-spacing: 1px;
    &:focus {
        outline: 0;
    }
}
.c-btn {
    &--primary {
        @include btn($bgColor: #6cb2eb);
        &.c-btn--small {
            @include btn($bgColor: #6cb2eb, $padding: 10px 5px);
        }
    }
    &--toggleDark {
        @include btn($radius: 20px, $padding: 0, $bgColor: none, $width: 48px);
        border: 1px solid #444;
        height: 20px;
        position: relative;
        & span {
            display: block;
            width: 30px;
            background: #383838;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            bottom: -25%;
            left: 0;
            transition: left 0.25s;
            & img {
                display: block;
                position: absolute;
                height: 20px;
                width: 15px;
                top: 15%;
                right: 25%;
            }
        }
        &.is-dark {
            @include btn($radius: 20px, $padding: 0, $bgColor: #3c0257, $width: 48px);
            border: 1px solid #280042;
            height: 20px;
            position: relative;
            & span {
                display: block;
                width: 30px;
                background: #5207b4;
                height: 30px;
                border-radius: 50%;
                position: absolute;
                bottom: -25%;
                left: 50%;
                transition: left 0.25s;
                & img {
                    display: block;
                    position: absolute;
                    height: 20px;
                    width: 15px;
                    top: 15%;
                    right: 25%;
                }
            }
        }
    }
}
