@mixin btn(
    $color: #fff,
    $radius: 5px,
    $bgColor: #fff,
    $padding: 15px 5px,
    $width: 100%,
    $fontSize: 20px,
    $linkColor: #fff
) {
    color: $color;
    border-radius: $radius;
    padding: $padding;
    width: $width;
    background: $bgColor;
    text-align: center;
    font-size: $fontSize;
    letter-spacing: 1px;
    &:focus {
        outline: 0;
    }
    & a {
        color: $linkColor;
    }
}
.c-btn {
    &--primary {
        @include btn($bgColor: #6cb2eb);
        &.c-btn--small {
            @include btn($bgColor: #6cb2eb, $padding: 10px 5px);
        }
    }
    &--danger {
        @include btn($bgColor: #e45252);
        @include mq(sp) {
            padding: 5px;
            font-size: 16px;
        }
    }
    &--secondary {
        @include btn($bgColor: #bdbcbc);
        @include mq(sp) {
            padding: 5px;
            font-size: 16px;
        }
    }
    &--toggle {
        @include btn($radius: 20px, $padding: 0, $bgColor: #bdbcbc, $width: 46px);
        border: 1px solid #bdbcbc;
        height: 25px;
        position: relative;
        & span {
            display: block;
            width: 20px;
            background: #fff;
            height: 20px;
            border-radius: 50%;
            position: absolute;
            bottom: 5%;
            left: 2%;
            transition: left 0.25s;
        }
        &.is-on {
            background: $green;
            border-color: $green;
            & span {
                left: 50%;
            }
        }
    }
    &--toggleDark {
        @include btn($radius: 20px, $padding: 0, $bgColor: none, $width: 48px);
        border: 1px solid #444;
        height: 20px;
        position: relative;
        & span {
            display: block;
            width: 30px;
            background: #383838;
            height: 30px;
            border-radius: 50%;
            position: absolute;
            bottom: -25%;
            left: -5%;
            transition: left 0.25s;
            & img {
                display: block;
                position: absolute;
                height: 20px;
                width: 15px;
                top: 15%;
                right: 25%;
            }
        }
        &.is-dark {
            @include btn($radius: 20px, $padding: 0, $bgColor: #3c0257, $width: 48px);
            border: 1px solid #280042;
            height: 20px;
            position: relative;
            & span {
                display: block;
                width: 30px;
                background: #5207b4;
                height: 30px;
                border-radius: 50%;
                position: absolute;
                bottom: -25%;
                left: 50%;
                transition: left 0.25s;
                & img {
                    display: block;
                    position: absolute;
                    height: 20px;
                    width: 15px;
                    top: 15%;
                    right: 25%;
                }
            }
        }
    }
    &--write {
        @include btn($bgColor: #6cb2eb, $padding: 0, $width: 50px, $radius: 50%);
        position: fixed;
        height: 50px;
        bottom: 12%;
        right: 3%;
        box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
        & img {
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        & a {
            display: block;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
    }
}
