.c-form {
    background: #fff;
    padding: 40px;
    min-height: 100%;
    border: 1px solid #ddd;
    @include mq(sp) {
        padding: 0;
        border: none;
    }
    &__item {
        margin-bottom: 60px;
        @include mq(sp) {
            margin-bottom: 0;
        }
    }
    &__input {
        border-bottom: 1px solid #3ca8f0;
        width: 100%;
        padding: 10px;
    }
    &__textarea {
        border: 1px solid #3ca8f0;
        width: 100%;
        padding: 10px;
        @include mq(sp) {
            border: none;
            resize: none;
            padding: 15px;
        }
        &__counter {
            font-size: 20px;
            @include mq(sp) {
                font-size: 16px;
            }
            &.is-over {
                color: $red;
            }
        }
    }
    &__message {
        color: $red;
        font-size: 20px;
    }
    &__password__check {
        padding: 20px 20px;
    }
    &__heading {
        position: absolute;
        padding: 18px;
        height: 10%;
        width: 100%;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 1;
        text-align: center;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
    }
    &.is-dark {
        background: #222;
        color: #fff;
        border: 1px solid #555;
    }
    &.is-arranged {
        width: 45%;
        border: none;
        padding: 20px 0 20px 20px;
    }
}
