.c-heading {
    &--large {
        font-size: 32px;
        letter-spacing: 0.25em;
        @include mq(sp) {
            font-size: 20px;
        }
    }
    &--date {
        font-size: 30px;
        margin-bottom : 30px;
    }
}
