.c-list {
    &__item {
        border-bottom: 1px solid #ddd;
        color: #555;
        letter-spacing: 1.5px;
        text-align: center;
        & a {
            display: block;
            padding: 20px 30px;
            cursor: pointer;
            font-size: 20px;
            &:hover {
                text-decoration: none;
                color: #555;
            }
            @include mq(sp) {
                font-size: 12px;
                padding: 15px;
            }
        }
        & form {
            display: block;
            padding: 20px 30px;
            cursor: pointer;
            font-size: 22px;
            @include mq(sp) {
                font-size: 12px;
                padding: 15px;
            }
            &:hover {
                text-decoration: none;
                color: #555;
            }
            & button {
                letter-spacing: 1.5px;
                &:focus {
                    outline: 0;
                }
            }
        }
        &.is-dark {
            background: #222;
            color: #fff;
            border-bottom: 1px solid #555;
        }
        &.is-row {
            border: none;
        }
        @include themes($themes, $border-color: #fff);
    }
    &.is-row {
        display: flex;
        justify-content: space-around;
    }
}
