
.c-list {
  &__item {
    border-bottom : 1px solid #ddd;
    color : #555;
    letter-spacing: 1.5px;
    text-align : center;
    & a {
      display : block;
      padding : 20px 30px;
      cursor: pointer;
      font-size: 22px;
      &:hover {
        text-decoration: none;
        color : #555;
      }
    }
    &.is-dark {
        background : #222;
        color : #fff;
        border-bottom : 1px solid #555;
    }
  }
}
