.p-settings {
    background: #fff;
    padding: 40px;
    border: 1px solid #ddd;
    @include mq(sp) {
        padding: 20px;
        border: none;
    }
    &__group {
        margin-bottom: 50px;
        @include mq(sp) {
            margin-bottom: 30px;
        }
        & h2 {
            font-size: 20px;
            letter-spacing: 1px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 5px;
            margin-bottom: 40px;
            @include mq(sp) {
                font-size: 18px;
                margin-bottom: 20px;
            }
            &.is-dark {
                border-bottom: 1px solid #555;
            }
        }
        &--color {
            @extend.p-settings__group;
            & .p-settings__current {
                position: relative;
                & span {
                    position: absolute;
                    background: #fff;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    border: 1px solid #ddd;
                    top: -40%;
                    left: 110%;
                    @include mq(sp) {
                        width: 30px;
                        height: 30px;
                        top: -10%;
                        left: 40%;
                    }
                    @include themes($themes);
                }
            }
        }
        &--font {
            @extend.p-settings__group;
        }
        &--dark {
            @extend.p-settings__group;
            & .p-settings__item {
                @include mq(sp) {
                    display: flex;
                }
            }
        }
    }
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        & p {
            padding: 5px 0;
        }
        @include mq(sp) {
            display: block;
        }
    }
    &__btn {
        @include btn($color: #6cb2eb, $radius: 5px, $padding: 5px, $width: 15%, $fontSize: 16px);
        background: none;
        border: 1px solid #6cb2eb;
        position: relative;
        @include mq(sp) {
            width: 100%;
        }
        &.is-disabled {
            @extend.p-settings__btn;
            background: #bdbcbc;
            border-color : #bdbcbc;
            color : #fff;
            @include mq(sp){
                width: 100%;
            }
        }
    }
    &__menu {
        background: #fff;
        position: absolute;
        padding: 10px 0;
        border: 1px solid #ddd;
        width: 15%;
        border-radius: 5px;
        top: 110%;
        right: 0;
        z-index: 1;
        box-shadow: 0px 0px 12px -6px rgba(0, 0, 0, 0.6);
        text-align: center;
        & li {
            color: #555;
            padding: 5px 0;
            letter-spacing: 1px;
            &:hover {
                background: #ddd;
            }
        }
        &.is-dark {
            background: #222;
            border: 1px solid #555;
            & li {
                color: #fff;
                &:hover {
                    background: #111;
                }
            }
        }
        @include mq(sp){
            width: 100%;
        }
    }
    &__current {
        @include mq(sp) {
            margin-bottom: 15px;
        }
    }
    &__error {
        color : $error;
        margin-bottom: 20px;
    }
    &.is-dark {
        background: #222;
        color: #fff;
        border: 1px solid #555;
        @include mq(sp) {
            border: none;
        }
    }
}
