.l-header {
    padding: 0 80px;
    background: #fff;
    height: 15%;
    border-bottom : 1px solid #ddd;
    width : 100%;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height : 100%;
        width : 100%
    }
    &.is-dark {
        background: #222;
        color: #fff;
        border-bottom : 1px solid #555;
    }
}
