.l-nav {
    background: #fff;
    width: 20%;
    min-height: 100%;
    border-right: 1px solid #ddd;
    position: fixed;
    &.is-dark {
        background: #222;
        color: #fff;
        border-right: 1px solid #555;
    }
}
