.l-nav {
    background: #fff;
    width: 20%;
    min-height: 100%;
    border-right: 1px solid #ddd;
    &.is-fixed {
        position: fixed;
        top: 0;
        left: 0;
    }
    &.is-dark {
        background: #222;
        color: #fff;
        border-right: 1px solid #555;
    }
    &.is-bottom {
        width: 100%;
        min-height: 0;
        height: auto;
        position: fixed;
        bottom : 0;
        border : none;
    }
}
