.l-wrapper {
    display: block;
    min-height: 85%;
    background: #f8fafc;
    &.is-row {
        @extend .l-wrapper;
        display: flex;
        justify-content: space-between;
    }
    @include mq(sp) {
        min-height: 0;
        height: 100%;
        position: static;
    }
    &__inner {
        padding: 70px 0;
        margin: 0 auto;
        width: 65%;
        height: 100%;
        @include mq(sp) {
            width: 90%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        &--small {
            @extend .l-wrapper__inner;
            width: 40%;
        }
    }
    &.is-dark {
        background: #111;
    }
    @include themes($themes, $sub-bg-color: true);
}
